In [7]:
import numpy as np
import pandas as pd

In [8]:
# Initialising the dataset
data = {
    'Age': [18, 58, 23, 45, 63, 36],
    'BMI': [53.13, 49.06, 17.38, 21, 21.66, 28.59],
    'Charges': [1163.43, 11381.33, 2775, 7222, 14349, 6548]
}

In [10]:
# Creating dataframe
df = pd.DataFrame(data)
df

   Age    BMI   Charges
0   18  53.13   1163.43
1   58  49.06  11381.33
2   23  17.38   2775.00
3   45  21.00   7222.00
4   63  21.66  14349.00
5   36  28.59   6548.00

In [15]:
# Splitting features X and label y
X = df[['Age', 'BMI']].values
y = df[['Charges']].values
print("Features X:", X)
print("\nLabel y", y)

Features X: [[18.   53.13]
 [58.   49.06]
 [23.   17.38]
 [45.   21.  ]
 [63.   21.66]
 [36.   28.59]]

Label y [[ 1163.43]
 [11381.33]
 [ 2775.  ]
 [ 7222.  ]
 [14349.  ]
 [ 6548.  ]]

In [21]:
# Linear Regression without bias Term is f(X) = w^T * X
# Finding parameters vector w = (X^T * X)^-1 * X^Ty

X_T = X.transpose()
X_T

array([[18.  , 58.  , 23.  , 45.  , 63.  , 36.  ],
       [53.13, 49.06, 17.38, 21.  , 21.66, 28.59]])

In [27]:
w = np.linalg.inv(X_T.dot(X)).dot(X_T.dot(y))
print('Weights w:', w)

Weights w: [[228.72185927]
 [-56.00693262]]

In [33]:
# Predicting the new data with age = 40 and BMI = 32.5
x_i = np.array([40, 32.5])
y_pred = w.transpose() @ x_i

print('Result:', y_pred)

Result: [7328.64906056]